<!DOCTYPE html>
<html>
<head>
    <title>Wiki Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Wiki Game</h1>
    <form action="{{ url_for('start_game') }}" method="post">
        <label for="language">Select Language:</label>
        <select name="language" id="language">
            <option value="en">English</option>
            <option value="sv">Swedish</option>
            <option value="zh">Chinese</option>
        </select>
        <button type="submit">Start Game</button>
    </form>
</body>
</html>
